* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
  --neon-blue: #00ffa3;
  --black: #1d1d1d;
  --purple: #7952d8;
}

#hzs {
    position: relative;
    margin-top: 1.4em;;
    font-size: 4em;
    letter-spacing: 1.3px;
}
 
#banner {
    background-image: url("../img/bannerGraffiti.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    max-width: 98vw;
    border-bottom: 2px solid var(--neon-blue);
}

body {
  background-color: var(--black);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: white;
}

main {
    flex: 1 0 auto;
}

.nav-wrapper {
    background-color: var(--black);
}

.navbar-fixed {
    z-index: 999;
}

.card-styling {
    background-color: var(--black);
}

.pad-bot-2 {
    padding-bottom: 2em;
}

.icon {
    position: relative;
}

.card {
    padding: 3px;

    transition: 0.3s;
    border-radius: 15px; /* 5px rounded corners */
}

.card:hover {
    box-shadow: 0.1px 0.3px 0.3px 0 var(--neon-blue);
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.letter-spac-1 {
    letter-spacing: 1px;
}

.letter-spac-3 {
    letter-spacing: 3px;
}

.btn-color-custom {
    background-color: var(--neon-blue);
}

.btn-text-color {
    color: var(--black);
}

.collapsible-header {
    background-color: var(--black);
}

.collapsible-body {
    background-image: url("../img/faqstrelica.png");
}


#blur1 {
    text-align: center;
    display: inline-block;
    position: relative;
}

#blur1 img {
    width: 150px;
    height: 150px;
    border-radius: 4px;
    transition: .3s;
}

#blur1:hover img {
    filter: blur(2px) brightness(60%);
}

#blur1 :not(img) {
    position: absolute;
    top: 20%;
    right: 2%;
    z-index: 1;
    color: #fff;
    width: 95%;
    opacity: 0;
    transition: .3s;
}

#blur1 h6 {
    top: 60%;
}

#blur1:hover :not(img) {
    opacity: 1;
}


.rightSidebar {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

#floatingCollection {
    border: 0px;
    border-radius: 0px;
}
.cItem {
    border-bottom: 0px !important;
    background-color: transparent !important;
}
#fb {
    background: #3B5998;
}
#tw {
    background: #55ACEE;
}
#ig {
    background: #517fa4;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #banner {
        width: 95vw;
        height: 110vw;
    }
    
    #hzs {
        font-size: 3.2em;
        text-shadow: 3.5px 3.5px var(--black);
        font-weight: 400;
    }

    #radionice-naziv{
        font-size: 1.2em;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #banner {
        width: 96vw;
        height: 80vw;
    }
    
    h1 {
        font-size: 1.2em;
        text-shadow: 3px 3px var(--black);
        font-weight: 400;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #banner {
        width: 97.6vw;
        height: 48vw;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #banner {
        width: 98vw;
        height: 50vw;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #banner {
        width: 100vw;
        height: 45vw;
    }
    .radionice-text{
        font-size: 1.2em !important;
    }
}


.cd-timeline {
    overflow: hidden;
    margin: 2em auto;
  }
  
  .cd-timeline__container {
    position: relative;
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 2em 0;
  }
  
  .cd-timeline__container::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #d7e4ed;
  }
  
  @media only screen and (min-width: 1170px) {
    .cd-timeline {
      margin-top: 3em;
      margin-bottom: 3em;
    }
    .cd-timeline__container::before {
      left: 50%;
      margin-left: -2px;
    }
  }
  
  .cd-timeline__block {
    position: relative;
    margin: 2em 0;
  }
  
  .cd-timeline__block:after {
    /* clearfix */
    content: "";
    display: table;
    clear: both;
  }
  
  .cd-timeline__block:first-child {
    margin-top: 0;
  }
  
  .cd-timeline__block:last-child {
    margin-bottom: 0;
  }
  
  @media only screen and (min-width: 1170px) {
    .cd-timeline__block {
      margin: 4em 0;
    }
  }
  
  .cd-timeline__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  }
  
  .cd-timeline__img img {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
  }
  
  .cd-timeline__img.cd-timeline__img--picture {
    background: #75ce66;
  }
  
  .cd-timeline__img.cd-timeline__img--movie {
    background: #c03b44;
  }
  
  .cd-timeline__img.cd-timeline__img--location {
    background: #f0ca45;
  }
  
  @media only screen and (min-width: 1170px) {
    .cd-timeline__img {
      width: 60px;
      height: 60px;
      left: 50%;
      margin-left: -30px;
      /* Force Hardware Acceleration */
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    .cd-timeline__img.cd-timeline__img--bounce-in {
      visibility: visible;
      -webkit-animation: cd-bounce-1 0.6s;
              animation: cd-bounce-1 0.6s;
    }
  }
  
  @-webkit-keyframes cd-bounce-1 {
    0% {
      opacity: 0;
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    60% {
      opacity: 1;
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @keyframes cd-bounce-1 {
    0% {
      opacity: 0;
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    60% {
      opacity: 1;
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  .cd-timeline__content {
    position: relative;
    margin-left: 60px;
    background: white;
    border-radius: 0.25em;
    padding: 1em;
    -webkit-box-shadow: 0 3px 0 #d7e4ed;
            box-shadow: 0 3px 0 #d7e4ed;
  }
  
  .cd-timeline__content:after {
    /* clearfix */
    content: "";
    display: table;
    clear: both;
  }
  
  .cd-timeline__content::before {
    /* triangle next to content block */
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid white;
  }
  
  .cd-timeline__content h2 {
    color: #303e49;
  }
  
  .cd-timeline__content p,
  .cd-timeline__date {
    font-size: 1.3rem;
  }
  
  .cd-timeline__content p {
    margin: 1em 0;
    line-height: 1.6;
  }
  
  .cd-timeline__date {
    display: inline-block;
  }
  
  
  .cd-timeline__date {
    float: left;
    padding: .8em 0;
    opacity: .7;
    color: var(--neon-blue);
  }
  
  @media only screen and (min-width: 768px) {
    .cd-timeline__content h2 {
      font-size: 2rem;
    }
    .cd-timeline__content p {
      font-size: 1.6rem;
    }
    .cd-timeline__date {
      font-size: 1.4rem;
    }
  }
  
  @media only screen and (min-width: 1170px) {
    .cd-timeline__content {
      margin-left: 0;
      padding: 1.6em;
      width: 45%;
      /* Force Hardware Acceleration */
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    .cd-timeline__content::before {
      top: 24px;
      left: 100%;
      border-color: transparent;
      border-left-color: white;
    }
    
    .cd-timeline__date {
      position: absolute;
      width: 100%;
      left: 122%;
      top: 6px;
      font-size: 1.6rem;
    }
    .cd-timeline__block:nth-child(even) .cd-timeline__content {
      float: right;
    }
    .cd-timeline__block:nth-child(even) .cd-timeline__content::before {
      top: 24px;
      left: auto;
      right: 100%;
      border-color: transparent;
      border-right-color: white;
    }
    .cd-timeline__block:nth-child(even) .cd-timeline__date {
      left: auto;
      right: 122%;
      text-align: right;
    }
    .cd-timeline__content.cd-timeline__content--bounce-in {
      visibility: visible;
      -webkit-animation: cd-bounce-2 0.6s;
              animation: cd-bounce-2 0.6s;
    }
  }
  
  @media only screen and (min-width: 1170px) {
    /* inverse bounce effect on even content blocks */
    .cd-timeline__block:nth-child(even) .cd-timeline__content.cd-timeline__content--bounce-in {
      -webkit-animation: cd-bounce-2-inverse 0.6s;
              animation: cd-bounce-2-inverse 0.6s;
    }
  }
  
  @-webkit-keyframes cd-bounce-2 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
    60% {
      opacity: 1;
      -webkit-transform: translateX(20px);
              transform: translateX(20px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  
  @keyframes cd-bounce-2 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
    60% {
      opacity: 1;
      -webkit-transform: translateX(20px);
              transform: translateX(20px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  
  @-webkit-keyframes cd-bounce-2-inverse {
    0% {
      opacity: 0;
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
    60% {
      opacity: 1;
      -webkit-transform: translateX(-20px);
              transform: translateX(-20px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  
  @keyframes cd-bounce-2-inverse {
    0% {
      opacity: 0;
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
    60% {
      opacity: 1;
      -webkit-transform: translateX(-20px);
              transform: translateX(-20px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }

  @media only screen and (min-width: 1170px) {
    .cd-is-hidden {
      visibility: hidden;
    }
  }

  #radionice-naziv{
      font-size: 1.4em;
      font-weight: 700;
  } 

  .radionice-text{
    font-size:1em !important;
}

  